<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      h1{
        color: red;
      }
      table{
        border: 1px solid red;
        font-size: 50px;
        margin: auto;
      }
      tr:nth-of-type(even){
        background: gray;
      }
      tr:nth-of-type(odd){
        background: yellow;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Django world from template File</h1>
    <h2>The Top actresses of 2021:</h2>
    <table>
      <thead>
        <th>Name</th>
        <th>Age</th>
      </thead>
      <tr>
        <td>roshni</td>
        <td>19</td>
      </tr>
      <tr>
        <td>Krishna</td>
        <td>21</td>
      </tr>
      <tr>
        <td>Balram</td>
        <td>21</td>
      </tr>

    </table>
  </body>
</html>
